@import "@fontsource-variable/noto-serif";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Noto Serif Variable", serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: "Noto Serif Variable", serif;
}

button {
  transition: all 0.3s;
  font-family: "Noto Serif Variable", serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

hr {
  border-color: #bbb9b9;
}

/* This css is for normalizing styles. You can skip this. */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.new {
  padding: 50px;
}

.checkbox-container {
  display: block;
  margin-bottom: 15px;
}

.checkbox-container input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.checkbox-container label {
  position: relative;
  cursor: pointer;
}

.checkbox-container label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #4b6e01;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.checkbox-container input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #4b6e01;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.hover-container {
  position: relative;
  cursor: pointer;
}

.hover-container::before {
  content: attr(data-text);
  position: absolute;
  background-color: #000000;
  width: fit-content;
  color: #ffffff;
  padding: 0.4rem 0.6rem;
  top: -70%;
  left: 0;
  right: 0;
  font-size: 13px;
  opacity: 0;
  font-weight: 500;
  border-radius: 12px;
  transform: translateY(20%);
  transition: all 0.3s ease-in-out;
  /* transition-delay: 400ms; */
}

.hover-container[data-text]:not([data-text=""])::before {
  opacity: 0;
}

.hover-container[data-text]:not([data-text=""]):hover::before {
  opacity: 1;
  transform: translateY(-40%);
}
